*.o
Makefile
Makefile.in

/ChangeLog
/INSTALL
/NEWS
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/.deps/
/src/help.c
/src/qperf
/src/qperf.1
